.nav {
  width: 90vw;
  text-align: center;
  opacity: 0.9;
  text-decoration: none;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  z-index: 10;
  position: fixed;
  background-color: white;
  padding: 1rem;
  border-radius: 25px;
  margin: 0.5rem 5vw;
}

.logo {
  display: flex;
  align-items: center;
}

.links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 0;
  margin: 0;
  list-style: none;
}

.links li a {
  text-decoration: none;
  color: black;
}
